<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookShop.My.MySettings.BookData2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\ElectroMaze\Google Drive\UEM\Project\Com4thSem\Bookshop\database\BookData2.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="BookShop.My.MySettings.PurchaseDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\ElectroMaze\Google Drive\UEM\Project\Com4thSem\Bookshop\database\PurchaseDatabase.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>